.custombtn:hover {
  background-color: #FF3811;
  color: white;
}

.cusHover:hover {
  background-color: lightgray;
}

.cusorange {
  color: #FF3811;
}

.cusBgOrange{
  background-color: #f55231;
}

.img-gradient {
  position: relative;
  display: inline-block;
}

.img-gradient:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: linear-gradient(to right, #151515 0%, rgba(21, 21, 21, 0) 100%);
  /* W3C */
}

.img-gradient img {
  display: block;
}
